/**
 * Simple (and dumb) implementation of the Location component.
 */
module SimpleLocationP {
  provides interface ReadLocation;
}
implementation {
  bool reading = FALSE;

  task void readLocation() {
    uint32_t self_long, self_lat;
    reading = FALSE;
    LOCATION_SWITCH_DEVICE;
    signal ReadLocation.readDone(SUCCESS, self_long, self_lat);
  }

  command error_t ReadLocation.read() {
    if (reading)
      return EBUSY;

    reading = TRUE;
    post readLocation();
    return SUCCESS;
  }
}
